.nav{
    color:white;
}
.background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f; /* Background color of the navbar */
    padding: 10px 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 40px;
}
.nav_bar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.nav_bar a{
    text-decoration: none;
  color: #fff;
  margin-right: 20px;
  transition: color 0.3s ease;
}
.nav_bar a:hover{
    color: rgb(178, 178, 178);
}